<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Dean Smith</string>
	<key>CFBundleDisplayName</key>
	<string>GoogleApps</string>
	<key>CFBundleIdentifier</key>
	<string>com.zelotus.ext.googleapps</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleVersion</key>
	<string>1.7</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Identifier</key>
				<string>googleappsbar</string>
				<key>Label</key>
				<string>Google Apps</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>googleappsbutton</string>
				<key>Identifier</key>
				<string>googleappsbutton</string>
				<key>Image</key>
				<string>Logo.png</string>
				<key>Label</key>
				<string>Google Apps</string>
				<key>Palette Label</key>
				<string>Google Apps</string>
				<key>Tool Tip</key>
				<string>Google Apps</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Adds a toolbar menu to access multiple Google Apps account</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>google.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://zelotus.com/gogappext/update.plist</string>
	<key>Website</key>
	<string>http://www.zelotus.com/</string>
</dict>
</plist>
