<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>domainList</string>
		<key>Title</key>
		<string>List of domains seperated by ","</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>nonAppsLinks</string>
		<key>Title</key>
		<string>Links for non apps versions, eg. gmail, greader etc.</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>mailLink</string>
		<key>Title</key>
		<string>Mail Link</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>calendarLink</string>
		<key>Title</key>
		<string>Calender Link</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>docsLink</string>
		<key>Title</key>
		<string>Docs Link</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>manageLink</string>
		<key>Title</key>
		<string>Manage Link</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>readerLink</string>
		<key>Title</key>
		<string>Google Reader Link</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
